﻿@model LibraryUI.Models.BookViewModel
@{ 
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> Регистрация новой книги </h2>

@using (Html.BeginForm("AddBook", "Book", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<h4>Заполните все поля формы</h4>
	<hr />
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Author)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Year)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Genre, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Genre, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Genre)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.NumberOfBooks, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.NumberOfBooks, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.NumberOfBooks)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Добавить" />
		</div>
	</div>
}

<script src='~/Scripts/tableScript.js'></script>