﻿@model LibraryUI.Models.BookViewModel
@using LibraryBL.Enums
@using LibraryUI.Helper
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Список книг";
}

<!DOCTYPE html>

<html>
<head>
	<meta content="width=device-width" />
	
</head>
<body>
	<div>
	@using (Html.BeginForm("BookList", "Book", FormMethod.Post, new { @class = "form-inline", role = "form" }))
	{
		<h2>Список книг</h2>
		<hr />
		<div class="form-group">
			@Html.LabelFor(m => m.Author, new { @class = "sr-only" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Author, new { @class = "form-control", placeholder = "Автор" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Year, new { @class = "sr-only" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Year, new { @class = "form-control", placeholder = "Год издания" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-10">
				<input type="submit" class="btn btn-default" value="Поиск" />
			</div>
		</div>
		if (UserHelper.IsInRole(UserRoleList.LIBRARIAN, System.Web.HttpContext.Current.Request))
		{
		<div class="form-group">
			<div class="col-md-10 col-md-offset-10">
				<a href="./AddBook" class="btn btn-default" role="button">Зарегистрировать книгу</a>
			</div>
		</div>
		}
	}
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Название книги</th>
					<th>Автор</th>
					<th>Наличие</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var book in ViewBag.Books)
				{
					<tr class="clickable-row" data-href="./InfoBook/@book.Id">
						<td>@book.Name</td>
						<td>@book.Author</td>
						<td>@book.InfoAboutAvailable</td>
						
						@if (UserHelper.IsInRole(UserRoleList.LIBRARIAN, System.Web.HttpContext.Current.Request))
						{
						<td>
							<a href="./EditBook/@book.Id">Редактировать</a> /
							<a href="./DeleteBook/@book.Id">Удалить</a>
						</td>
							if (@book.NumberOfBooks != 0)
							{
							<td>
							
								<a href="./TakeBook/@book.Id">Отдать читателю</a>
							
							</td>
							}
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
</body>
</html>
<script src='~/Scripts/tableScript.js'></script>
