﻿@model LibraryUI.Models.BookViewModel

<h2> Редактирование информации о книге </h2>

@using (Html.BeginForm("EditBook", "Book", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<h4>Заполните все поля формы</h4>
	<hr />
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Id, new { @class = "form-control", @Value = @ViewBag.book.Id, @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = @ViewBag.book.Name })
			@Html.ValidationMessageFor(m => m.Name)		
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Author, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Author, new { @class = "form-control", @Value = @ViewBag.book.Author })
			@Html.ValidationMessageFor(m => m.Author)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Year, new { @class = "form-control", @Value = @ViewBag.book.Year })
			@Html.ValidationMessageFor(m => m.Year)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Genre, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Genre, new { @class = "form-control", @Value = @ViewBag.book.Genre })
			@Html.ValidationMessageFor(m => m.Genre)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @Value = @ViewBag.book.Description })
			@Html.ValidationMessageFor(m => m.Description)
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Оставшееся количество книг", new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.NumberOfBooks, new { @class = "form-control", @Value = @ViewBag.book.InfoAboutAvailable })
			@Html.ValidationMessageFor(m => m.NumberOfBooks)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Сохранить" />
		</div>
	</div>
}

