﻿@model LibraryUI.Models.BookViewModel

@{
	ViewBag.Title = "Информация о книге";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
	<div>
		<h2>Информация о книге</h2>
	
		<h4>@ViewBag.book.Name</h4>
		<table class="table">
			<tbody>
				<tr>
					<td>Автор</td>
					<td>@ViewBag.book.Author</td>
				</tr>
				<tr>
					<td>Жанр</td>
					<td>@ViewBag.book.Genre</td>
				</tr>
				<tr>
					<td>Год издания</td>
					<td>@ViewBag.book.Year</td>
				</tr>
				<tr>
					<td>Краткое содержание</td>
					<td>@ViewBag.book.Description</td>
				</tr>
			</tbody>
		</table>

		<a href="@HttpContext.Current.Request.UrlReferrer"> Назад </a>
	</div>
</body>
</html>
