﻿@model LibraryUI.Models.TakingBookViewModel

@using (Html.BeginForm("TakeBook", "Book", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.ValidationSummary(true);
	<h4>Книга : @Model.BookName</h4>
	<hr />
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.BookName, new { @class = "form-control", @Value = Model.BookName, @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.BookId, new { @class = "form-control", @Value = Model.BookId, @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.TakeBookDate, new { @class = "form-control", @Value = DateTime.Today.ToString("dd.MM.yyyy"), @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Login)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ReturnBookDate, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.ReturnBookDate, new { @class = "form-control datepicker", @format = "{0:dd.mm.yyyy}",  @Value = DateTime.Today.AddDays(7).ToString("dd.MM.yyyy")})
			@Html.ValidationMessageFor(m => m.ReturnBookDate)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Отдать" />
		</div>
	</div>
}

