﻿@using System.Web.Mvc;
@using LibraryBL.Enums
@using LibraryUI.Helper

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
	<script src="~/Scripts/bootstrap-datepicker.js"></script>
	<script src="~/Scripts/locales/bootstrap-datepicker.ru.min.js"></script>
	<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Scripts/tableScript.js"></script>
	@Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Система библиотечного учёта", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Список книг", "BookList", "Book")</li>

					@if (UserHelper.IsInRole(UserRoleList.LIBRARIAN, System.Web.HttpContext.Current.Request) ||
						UserHelper.IsInRole(UserRoleList.ADMIN, System.Web.HttpContext.Current.Request))
					{
						<li>@Html.ActionLink("Список пользователей", "UserList", "User", new { role = "librarian" }, null)</li>
					}

                </ul>
				@if (Request.Cookies["LibraryUser"] != null)
				{
					using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
					{
						<ul class="nav navbar-nav navbar-right">
							@if (!UserHelper.IsInRole(UserRoleList.ADMIN, System.Web.HttpContext.Current.Request))
							{
							<li>
								@Html.ActionLink("Аккаунт: " + Request.Cookies["LibraryUser"].Value, "ManageAccount", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
							</li>
							}
							<li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
						</ul>
					}
				}
				else
				{
					<ul class="nav navbar-nav navbar-right">
						<li>@Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
					</ul>
				}
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
	<hr/>
</body>
</html>
