﻿@model LibraryUI.Models.TakingBookViewModel
@using LibraryBL.Enums
@using LibraryUI.Helper

<table class="table table-hover">
	<thead>
		<tr>
			<th>Название книги</th>
			<th>Дата взятия</th>
			<th>Дата сдачи</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var book in ViewBag.books)
		{
			<tr>
				<td>@book.BookName</td>
				<td>@book.TakeBookDate.ToString("dd.MM.yyyy")</td>
				<td>@book.ReturnBookDate.ToString("dd.MM.yyyy")</td>
				
				@if (UserHelper.IsInRole(UserRoleList.LIBRARIAN, System.Web.HttpContext.Current.Request))
				{
					<td>
						<a href="~/Book/ReturnBook/@book.Id">Вернули</a>
					</td>
				}
				else
				{
					if (book.CanProlongate)
					{
					<td>Продлить на 
						<select name = "sltNumberDayProlongation">
							<option selected value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
						</select> д. 
							<a href="javascript:void(0)" onclick="prolongate(this, @book.Id)"> Продлить</a>
				</td>
					}
				}

			</tr>
		}
	</tbody>
</table>
<script>
	function prolongate(anchor, noteId)
	{
		var daysCount = $(anchor).parent().find("select").val();
		$.ajax({
			url: "../Book/ProlongateReturnBook",
			type: "get",
			data: {noteId: noteId  , daysCount: daysCount },
			dataType: "json",
			success: function (data, textStatus, jqXHR)
			{
				window.location = "../Account/ManageAccount";
			},
			error: function (jqXHR, textStatus, error)
			{
				alert(error);
			}
		});
	}
</script>
