﻿@model LibraryUI.Models.UserViewModel

<h2> Вход </h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.ValidationSummary(true);
	<h4>Вход в аккаунт</h4>
	<hr />
	<div class="form-group">
		@Html.LabelFor(m => m.Login, new { @class = "col-md-1 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-1 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-1 col-md-10">
			<input type="submit" value="Войти" class="btn btn-default" />
		</div>
	</div>
}

