﻿@model LibraryUI.Models.TakingBookViewModel

@{
	ViewBag.Title = "Аккаунт читателя";
}

<!DOCTYPE html>

<html>
<head>
	<meta content="width=device-width" />
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src='~/Scripts/tableScript.js'></script>
</head>
<body>
	<div>
		<h4> Книги на руках </h4>
		<hr />
		@Html.Partial("_TakingBookPartial")
	</div>
</body>
</html>
