﻿@model LibraryUI.Models.UserViewModel

<h2> Регистрация </h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<h4>Регистрация нового пользователя</h4>
	<hr />
	<div class="form-group">
		@Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Login)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Password)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PostAddress, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.PostAddress, new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.PostAddress)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Регистрация" />
		</div>
	</div>
}

