﻿@model LibraryUI.Models.UserViewModel
@using LibraryBL.Enums
@using LibraryUI.Helper

<h2> Редактирование информации о пользователе </h2>

@using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<h4>Заполните все поля формы</h4>
	<hr />
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Id, new { @class = "form-control", @Value = @ViewBag.user.Id, @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Role, new { @class = "form-control", @Value = @ViewBag.user.Role, @type = "hidden" })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Name, new { @class = "form-control", @Value = ViewBag.user.Name })
			@Html.ValidationMessageFor(m => m.Name)
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Логин / Читательский билет", new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Login, new { @class = "form-control", @Value = ViewBag.user.Login })
			@Html.ValidationMessageFor(m => m.Login)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new { @class = "form-control", @Value = ViewBag.user.Password })
			@Html.ValidationMessageFor(m => m.Password)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.PostAddress, new { @class = "col-md-2 control-label" })
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.PostAddress, new { @class = "form-control", @Value = ViewBag.user.PostAddress })
			@Html.ValidationMessageFor(m => m.PostAddress)
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Сохранить" />
		</div>
	</div>
}

