﻿@model LibraryUI.Models.UserViewModel

@{
	ViewBag.Title = "Информация о библиотекаре";
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
	<div>
		<h2>Информация о библиотекаре</h2>

		<h4>@ViewBag.user.Name</h4>
		<table class="table">
			<tbody>
				<tr>
					<td>Логин</td>
					<td>@ViewBag.user.Login</td>
				</tr>
				<tr>
					<td>Почтовый адрес</td>
					<td>@ViewBag.user.PostAddress</td>
				</tr>
			</tbody>
		</table>

		<a href="@HttpContext.Current.Request.UrlReferrer"> Назад </a>
	</div>
</body>
</html>
