﻿@model LibraryUI.Models.UserViewModel
@using LibraryBL.Enums
@using LibraryUI.Helper

@{
	ViewBag.Title = "Список пользователей";
}

<!DOCTYPE html>

<html>
<head>
	<meta content="width=device-width" />
	<script src="~/Scripts/jquery-1.10.2.js"></script>
	<script src='~/Scripts/tableScript.js'></script>
</head>
<body>
	<div>
		<form class="form-inline">
			<img src="@Url.Action("CreateTakeActivityChart")" />
			<img src="@Url.Action("CreateReturnActivityChart")" />
		</form>
			@using (Html.BeginForm("UserList", "User", FormMethod.Post, new { @class = "form-inline", role = "form" }))
			{
				if (UserHelper.IsInRole(UserRoleList.LIBRARIAN, System.Web.HttpContext.Current.Request))
				{
					<h2>Список читателей</h2>
					<hr />
					<div class="form-group">
						@Html.LabelFor(m => m.Name, new { @class = "sr-only" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "ФИО" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Login, new { @class = "sr-only" })
						<div class="col-md-10">
							@Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Читательский билет" })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							<input type="submit" class="btn btn-default" value="Поиск" />
						</div>
					</div>
				}
				else
				{
					<h2>Список библиотекарей</h2>
					<hr />
				}
				<div class="form-group">
					<div class="col-md-10 col-md-offset-10">
						<a href="../Account/Register" class="btn btn-default" role="button">Зарегистрировать пользователя</a>
					</div>
				</div>
			}
			<table class="table table-hover">
				<thead>
					<tr>
						<th>ФИО</th>
						<th>Логин / Читательский билет</th>
						<th>Почтовый адрес</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in ViewBag.Users)
					{
						<tr class="clickable-row" data-href="./InfoUser/@user.Id">
							<td>@user.Name</td>
							<td>@user.Login</td>
							<td>@user.PostAddress</td>
							<td>
								<a href="./EditUser/@user.Id">Редактировать</a> /
								<a href="./DeleteUser/@user.Id">Удалить</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
</div>
</body>
</html>

